

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* make it 30% width */
    max-width: 30%;
    margin: auto;
}
  
.sylo {
  align-items: right;
  font-size: 1.5rem;
  padding: auto;
  color: #ff0000;
}

.tittle {
  font-weight: bold;
  z-index: 9999;
}
  
.tos {
  font-size: 1.5rem;
  color: #390076;
}

.App-logo {
    height: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin normal 3s both;
    }

    .tittle {
      animation: App-Title-spin normal 3s both;
    }
      
}

.devi {
  /* put box in the middle of the screen */
  padding: 1rem;
  z-index: 9999;
  background-color: wheat;
  box-shadow: wheat 0px 0px 10px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  /* make it 30% width */
  max-width: 30%;
  margin: auto;
  /* make the buttons a bit bigger */

}

.App-header {
  font-family: 'Jaldi', sans-serif;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.notice {
  background-color: #282c34;
  color: #61dafb;
  padding: 10px;
  /* put it on the top left */
  position: absolute;
  bottom: 0;
  right: 0;
  /* bottom left corner */
  border-top-left-radius:  10px;
}

@keyframes App-logo-spin {
  from {
    transform: translate(-300px, 52px) rotate(0deg) scaleX(1);
    opacity: 0;
  }


  to {
    transform: translate(000px, 52px) rotate(0deg) scaleX(1.5);
    opacity: 1;
  }
}

@keyframes App-Title-spin {
  from {
    transform: translate(300px, 10px) rotate(0deg) scaleX(1);
    opacity: 0;
  }


  to {
    transform: translate(000px, 10px) rotate(0deg) scaleX(1.5);
    opacity: 1;
  }
}